.nav-container a {
  text-decoration: none;
  color: var(--clr-light);
}
.nav-container a.selected {
  background-color: #475569;
  color: var(--clr-hover-light); 
  border-color: #475569; 
}

.main-nav-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.nav-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: #1b2535;
  border-radius: 20px;
  padding: 10px 40px;
  overflow: hidden;
}

.nav-container a {
  padding: 0 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    color 0.5s ease;
}

.nav-container p {
  cursor: pointer;
}

.nav-container a:hover {
  background-color: #475569;
  border-color: #475569;
}

.nav-logout {
  padding: 0 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    color 0.5s ease;
  cursor: pointer;
}

.nav-logout:hover {
  background-color: #475569;
  border-color: #475569;
}

/* xs */
@media (min-width: 475px) {
  .main-nav-container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .main-nav-container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .main-nav-container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .main-nav-container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .main-nav-container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .main-nav-container {
    max-width: 1536px;
  }
}

@media (max-width: 475px) {
  .main-nav-container {
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    width: 80%;
    font-size: small;
    justify-content: center;
  }
}

@media (250px <= width <= 425px) {
  .nav-container {
    gap: 1px;
    overflow: hidden;
    font-size: smaller;
    width: 100%;
    margin-right: 0%;
  }
}
